@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;700&family=Spectral:ital,wght@0,400;1,600&display=swap');

:root {
    --pergaminho: #f4e4bc;
    --texto: #2c1e14;
    --ouro: #d4af37;
    --bordas: #8e735b;
    --magia: #660000;
}

body {
    font-family: 'Spectral', serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #1a1a1a;
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('capa.jpeg');
    background-size: cover;
    background-position: center;
    color: var(--texto);
}

.login, .perfil {
    background: var(--pergaminho);
    padding: 3rem;
    border: 2px solid var(--bordas);
    border-radius: 5px;
    box-shadow: 0 0 50px rgba(0,0,0,0.8);
    text-align: center;
    width: 350px;
}

.brasao {
    font-size: 3rem;
    color: var(--magia);
    margin-bottom: 10px;
    text-shadow: 2px 2px 0px var(--ouro);
}

h1 {
    font-family: 'Cinzel', serif;
    color: var(--magia);
    margin-bottom: 2rem;
}

input {
    display: block;
    width: 100%;
    margin-bottom: 1.2rem;
    padding: 12px;
    background: rgba(255, 255, 255, 0.3);
    border: none;
    border-bottom: 2px solid var(--bordas);
    font-family: 'Spectral', serif;
    outline: none;
}

button {
    background-color: var(--magia);
    color: var(--ouro);
    border: 1px solid var(--ouro);
    padding: 15px;
    cursor: pointer;
    width: 100%;
    font-family: 'Cinzel', serif;
    font-weight: bold;
}

#conteudo-perfil {
    border-top: 2px solid var(--bordas);
    border-bottom: 2px solid var(--bordas);
    padding: 20px 0;
    line-height: 1.6;
}

.caixabussola {
    position: fixed;
    bottom: 20px;
    left: 20px;
    z-index: 9999;
    transition: transform 0.4s ease;
    cursor: pointer;
}

.caixabussola:hover {
    transform: scale(1.1);
}

.caixabussola:hover #bussola {
    display: none;
}

.caixabussola:hover .bussolaaberta {
    display: block;
}

#bussola {
    width: 100px;
    display: block;
}

.bussolaaberta {
    display: none;
    width: 230px;
    display: none;
}