@import url('https://fonts.googleapis.com/css2?family=Patua+One&display=swap');

body {
    background-image: url(./images/urso.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #4a3c31;
}

.tudo {
    display: flex;
    justify-content: space-between;
}

#quemsoueu {
    width: 200px;
    margin-left: 10px;
    margin-top: 10px;
}

.caixaquemsoueu {
    display: inline-block;
    transition: transform 0.4s ease;
    cursor: pointer;
}

.caixaquemsoueu:hover {
    transform: scale(1.1);
}

.caixaquemsoueu:hover .quemsoueuaberto {
    display: block;
}

.quemsoueuaberto {
    display: none;
    position: absolute;
    width: 330px;
}

.caixameusprojetos {
    display: inline-block;
    margin-right: 230px;
}

#meusprojetos {
    color: #4a3c31;
    font-family: "Patua one", serif;
}

.projetos {
    width: 100px;
}

#padrao {
    position: absolute;
    top: 40%;
    right: 1%;
    font-family: "Patua one", serif;
    color: #4a3c31;
    width: 200px;
    font-size: larger;
    text-align: center;
    transform: translate(-50%, -50%);
}

.projetos:hover {
    scale: 1.1;
}

.caixapergaminho {
    position: relative;
    display: inline-block;
}

.pergaminho {
    width: 400px;
}

#bussola {
    width: 50px;
}